[Unit]
Description=Spring PetClinic Application
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu
Environment=SERVER_PORT=8081
ExecStart=/usr/bin/java -jar spring-petclinic-3.0.0-SNAPSHOT.jar
User=petclinicuser
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target